.login-body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/imagemFundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  .logo-top {
    width: 80%;
    max-width: 380px;
    margin-bottom: 20px;
    filter: brightness(0) saturate(100%) invert(23%) sepia(72%) saturate(1100%) hue-rotate(200deg) brightness(90%) contrast(95%);
    pointer-events: none;
  }
  
  /* CARD */
  .login-container {
    background: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 380px;
    min-height: 350px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px; /* controla o espaçamento ENTRE os itens */
  }
 
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
  }
  
  .input:focus {
    border-color: #1b4a9b;
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    background: #1b4a9b;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #3d62a3;
  }
  
  .forgot {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #1a4c7c;
    text-decoration: none;
  }
  
  .forgot:hover {
    text-decoration: underline;
  }
   